body {
    font-family: papyrus, sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FFC0CB;
    margin: 0;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.pink-btn {
    background-color: #FFC0CB;
    color: black;
}

.green-btn {
    background-color: #4CAF50;
    color: white;
}

.red-btn {
    background-color: #ff4d4d;
    color: white;
    position: relative;
}

.buttons {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
}
