body {
    font-family: Comic Sans MS, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.title {
    font-size: 3em;
    margin-top: 50px;
}

.flowers {
    margin-top: 50px;
}

.flower {
    width: 100px;
    height: 100px;
    background-color: violet;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

.message {
    margin-top: 50px;
    font-size: 1.2em;

.click-text
    font-size: 1em;
    margin-top: 20px;
}

body {
    margin: 0;
    padding: 0;
}

#bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0.2;
}

.title,
.flowers,
.message {
    position: relative;
    z-index: 1;
}